extends layout

block content
  blockquote
    p A <b>phase field</b> model is a mathematical model for solving interfacial problems. It has mainly been applied to solidification dynamics, but it has also been applied to other situations such as viscous fingering, fracture dynamics, vesicle dynamics, etc.
    p The method substitutes boundary conditions at the interface by a partial differential equation for the evolution of an auxiliary field (the phase field) that takes the role of an order parameter. This phase field takes two distinct values (for instance +1 and −1) in each of the phases, with a smooth change between both values in the zone around the interface, which is then diffuse with a finite width. A discrete location of the interface may be defined as the collection of all points where the phase field takes a certain value (e.g., 0).
    p A phase field model is usually constructed in such a way that in the limit of an infinitesimal interface width (the so-called sharp interface limit) the correct interfacial dynamics are recovered. This approach permits to solve the problem by integrating a set of partial differential equations for the whole system, thus avoiding the explicit treatment of the boundary conditions at the interface.

    footer
      a(href='https://en.wikipedia.org/wiki/Phase_field_models') Wikipedia

  h2 Ressources

  h3 Phase field software
  ul
    li
      +icon("link")
      a(href='http://mooseframework.org') MOOSE Framework
      | - C++ multiphysics framework with phase field support
    li
      +icon("education")
      a(href='https://arxiv.org/abs/1702.06450') Rapid multiphase-field model development using a modular free energy based approach with automatic differentiation in MOOSE/MARMOT
    li
      +icon("link")
      a(href='https://pages.nist.gov/chimad-phase-field/') CHiMaD Phase Field Community Network
      | - benchmark problems and comparison of open community codes

  h3 Literature
  ul
    li
      +icon("book")
      a(href='http://www.physics.mcgill.ca/~provatas/papers/Phase_Field_Methods_text.pdf') Phase Fields Methods, N. Provatas and K. Elder
    li
      +icon("education")
      a(href='http://www.mmm.psu.edu/LQChen2002AnnuRevMaterRes.pdf') Phase-Field Models for Microstructure Evolution, L.Q. Chen
    li
      +icon("education")
      a(href='https://www.researchgate.net/publication/228365777_Phase-Field_Simulation_of_Solidification_1') Phase-Field Simulation of Solidification, W. Boettinger <i>et al.<i>
      |  (via Researchgate)
