div.moosewrapper
  div.row
    button.waves-effect.waves-light.btn.mooserun
      i.material-icons.left send
      | run
  div.row
    div.col.s12.l6
      pre.mooseinput.card-panel
        | #{input}
    div.col.s12.l6
      pre.mooseoutput.card-panel
  div.row
    div.col.s12(style="display:none")
