doctype html
html
  head
    // favicon
    link(rel="icon", href="/favicon.ico", sizes="16x16 24x24 32x32 64x64", type="image/vnd.microsoft.icon")
    // material intersections
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    // materialize styles
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
    // custom styles
    link(rel='stylesheet', href='/stylesheets/style.css')
    // KaTeX styles
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/katex.min.css", integrity="sha384-VEnyslhHLHiYPca9KFkBB3CMeslnM9CzwjxsEbZTeA21JBm7tdLwKoZmCt3cZTYD", crossorigin="anonymous")

    // meta tag for responsive site
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title= title

  body
    if title
      h1.header.center.orange-text= title
    div.container
      block content

    // jQuery and plugins
    //script(src="http://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="http://code.jquery.com/jquery-3.3.1.min.js")
    script(src="/javascripts/jquery.flot.min.js")
    // Materialize
    script(src="/javascripts/materialize.min.js")

    // VTK for web
    script(src="https://unpkg.com/vtk.js")
    // ACE editor
    script(src="/javascripts/ace.js")
    // KaTeX scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/katex.min.js", integrity="sha384-O4hpKqcplNCe+jLuBVEXC10Rn1QEqAmX98lKAIFBEDxZI0a+6Z2w2n8AEtQbR4CD", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/contrib/auto-render.min.js", integrity="sha384-IiI65aU9ZYub2MY9zhtKd1H2ps7xxf+eb2YFG9lX6uRqpXCvBTOidPRCXCrQ++Uc", crossorigin="anonymous")

    // custom scripts
    script(src="/javascripts/pfnet.js")
    script(src="/javascripts/vtkviewer.js")
