extends ../node_modules/pug-bootstrap/_bootstrap.pug
append styles
  // Custom styles for this template
  // link(href='../node_modules/pug-bootstrap/css/starter-template.css', rel='stylesheet')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/katex.min.css", integrity="sha384-VEnyslhHLHiYPca9KFkBB3CMeslnM9CzwjxsEbZTeA21JBm7tdLwKoZmCt3cZTYD", crossorigin="anonymous")

  script(src="https://unpkg.com/vtk.js")
  script(src="javascripts/ace.js")
  script(src="javascripts/vtkviewer.js")
  script(src="javascripts/pfnet.js")
  script(src="http://code.jquery.com/jquery-3.3.1.slim.min.js")
  script(src="https://cdn.jsdelivr.net/npm/vega@3.0.10")
  script(src="https://cdn.jsdelivr.net/npm/vega-lite@2.1.2")
  script(src="https://cdn.jsdelivr.net/npm/vega-embed@3.0.0")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/katex.min.js", integrity="sha384-O4hpKqcplNCe+jLuBVEXC10Rn1QEqAmX98lKAIFBEDxZI0a+6Z2w2n8AEtQbR4CD", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/contrib/auto-render.min.js", integrity="sha384-IiI65aU9ZYub2MY9zhtKd1H2ps7xxf+eb2YFG9lX6uRqpXCvBTOidPRCXCrQ++Uc", crossorigin="anonymous")

block body
  +navbar-fixed(title,"navbar","inverse")
    +nav_item("/","active") Home
    +nav_item("#") About
    +nav_item("#") Contact
  .container
    .starter-template
      h1= title
      block content

  script.
    activateEditors();    
    renderMathInElement(document.body);
